*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
body {
    background: #1B2316;}
.box{
    width: 600px;
    height: 100px;
    margin: auto;
    margin-top: 200px;
    background: #00000041;
    border-radius: 25px;
   display: grid;
   place-items: center;
   border: 3px solid green;
}
.box:hover{
    border: 3px solid rgb(0, 217, 255);
    background: rgba(74, 83, 163, 0.26); 
}
p{

  text-align: center;
    font-size: 36px;
    margin: auto;
   color: white; 
}
p:hover{
    color: rgb(72, 255, 0);   
}